@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: ##000000;
    --clr-main-light: #000000;
    --clr-white: rgba(10, 82, 238, 0.345);
    --clr-gray: #fff;
    --clr-red: #ffa420;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: rgb(0, 133, 204);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: rgba(8, 158, 240, 0.5);
    color: black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}


.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: rgba(8, 158, 240, 0.7);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/*Foto de perfil*/
.contenedor-avatar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contenedor-foto-perfil{
    display: flex;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    border: 7px solid white;
    background-color: gainsboro;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: 28px;
    top: 50px;
    z-index: 1;
}

.contenedor-foto-perfil img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 2;
}

.contenedor-foto-perfil .boton-foto-perfil{
    position:absolute;
    left: 2px;
    top: 0px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

dialog{
    margin: 0;
    position:absolute;
    top:400px;
    left:500px;
    height: 150px;
    width:440px;
    background-color: #f4f4f4; 
}

/*---------------------------------------TARJETA DE PAGO----------------------*/

.tarjeta{
    margin: 20px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 300px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    backface-visibility: hidden;
    background-color: rgb(0, 57, 148);
    border-radius: 15px;
    z-index: 2;
}

.new-tarjeta{
    margin: 20px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 300px;
    position: relative;
    transition: .3s ease all;
    transform-style: preserve-3d;
    backface-visibility:hidden;
    z-index: 1;
    transform: rotateY(180deg);
}

.new-tarjeta >div{
    padding:150px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 0 rgba(90, 116, 148, 0.3);
}

.new-tarjeta .delante{
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility:hidden;
}


.new-tarjeta .trasera{
    width: 100%;
    background-size: cover;
    padding: 19px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 0 rgba(90, 116, 148, 0.3);
    
}

.new-tarjeta .trasera .logo-tarjeta{
    text-align: right;
}

 .new-tarjeta .trasera .logo-tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.new-tarjeta .trasera .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.new-tarjeta .trasera .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.new-tarjeta.active{
    transform: rotateY(0deg);
}

.agregar{
    top: 100px;
    left: 210px;
    position:absolute;
    cursor: pointer;
    border: 0;
    z-index: 2;
    background-color: #ffffff;
}

.agregar.visible{
    display: none;
}

.agregar .agrandar{
    font-size: 95px;
}

.new-tarjeta .trasera .registrar-tarjeta{
    top: 120px;
    left: 430px;
    width: 50px;
    height: 50px;
    background-color: rgb(68, 255, 58);
    position:absolute;
    border-radius: 50%;
}

.tarjeta .delante{
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 0 rgba(90, 116, 148, 0.3);
}



.tarjeta .delante .logo-tarjeta{
    text-align: right;
}

 .tarjeta .delante .logo-tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.tarjeta .delante .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delante .label{
    font-size: 18px;
    margin-bottom: 7px;
    color: #fff;
}

.delante .nombre{
    font-size: 15px;
    margin-bottom: 2px;
    color: rgba(211, 211, 211, 0.2);
}

.delante .flex{
    text-transform: uppercase;
}

.tarjeta .delante .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}